<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:insert="fragments/header :: header"></head>
    <title th:text="${product.name}"></title> <!-- Set the title to be the Product -->


<body id="page">
    <!-- templates/fragments/navbar.html -->
    <nav th:replace="fragments/navbar :: navigation"></nav>

    <div class="spacing"><hr></div>

    <!-- Entire Page START -->
    <div class="container" id="content">

        <div class="row">
            <!-- Left Content Start -->
            <div class="col-lg-6">
                <div class="w3-card-4">
                    <div>
                        <h1 th:text="${product.name}"></h1>
                        <!-- Update Reviews START -->
                        <h6>Rating: 4.4 (totalREVIEWS)  -  <a href="#">Write a review</a></h6>
                        <!-- Update Reviews  END -->
                    </div>
                    <div class="spacing"></div>
                    <div>
                        <table id="tableForSpacing">
                            <tr>
                                <td><h3>$<span th:text="${product.price}"></span></h3></td>
                                    <td>
                                        <form th:action="@{|/addToCart/${product.id}|}" method="POST">
                                            <input type="submit" class="btn btn-info" name="addToCart" value="Add to Cart" id="addToCart">
                                        </form>
                                    </td>
                            </tr>
                        </table>

                    </div>

                </div>

            </div>
            <!-- Left Content END -->

            <!-- Middle Spacing START -->
            <div class="col-lg-1"></div>
            <!-- Middle Spacing END -->

            <!-- Right Spacing START -->
            <div class="col-lg-5">
                <div>
                    <center><img id="image" class="img-thumbnail" th:src="${product.image}"/></center>
                </div>
            </div>
            <!-- Right Spacing END -->



            <!-- Right Spacing START -->
            <!-- <div class="col-lg-1"></div> -->
            <!-- Right Spacing END -->



                <!-- <form class="form-horizontal"> -->
                    <!-- <div class="form-group">
                        <label class="col-sm-2 control-label">Product Id:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.id}">Product Id</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.description}">Description</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static" th:text="${product.price}">Price</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 sm-2 control-label">Image:</label>
                        <div class="col-sm-10">
                            <img th:src="${product.image}"/>
                        </div>
                    </div> -->
                <!-- </form> -->
        </div>
        <div class="col-lg-12">
                <h4>Product Description: </h4>
                <p th:text="${product.description}"></p>
        </div>
    </div>
    <!-- Entire Page END -->
    <div th:insert="fragments/footer :: footer"></div>



</body>
</html>
