<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head th:insert="fragments/header :: header"></head>
    <head><title>Admin Dashboard</title></head>

    <body>
        <nav th:replace="fragments/adminNavbar :: admin-navigation"></nav>


        <div class="container">

            <div class="spacing"></div>
            <h2>Admin Dashboard</h2>
            <div class="spacing"></div>


            <div class="row justify-content-md-center">
                <div class="col col-md-6 card">
                    <a href="/product/">
                        <center>
                            <img src="../../images/product.jpg" id="icon">
                            <h3>Product</h3>
                        </center>
                    </a>
                </div>

                <div class="col col-md-6 card">
                    <a href="/category/">
                        <center>
                            <img src="../../images/folder.png" id="icon">
                            <h3>Category</h3>
                        </center>
                    </a>
                </div>

            </div>
            <div class="spacing"></div>
            <div class="row justify-content-md-center">
                <a class="btn btn-info" href="/category/rebuild/">Rebuild Indexes</a>
            </div>
        </div>

    </body>
</html>
