<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
<head th:insert="fragments/header :: header">
    <title>Refund Confirm</title>

  </head>

  <body>
    <nav th:replace="fragments/navbar :: navigation"></nav>

  <div>
  
  <h1 class="display-4"><p th:text=" 'Your Refund is Processed, here is your refund number: ' + ${refund.refundid} + ' !'"/></h1>
  <h2 class="display-4"><p th:text=" 'Your Refund Includes Products: ' + ${refund.productname}"/></h2>
  </div>
  </body>


  </html>
