<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- header fragment -->
    <head th:insert="fragments/header :: header">


    <body>
        <div class="col-lg-3" th:fragment="catalog">
          <h1 class="my-4">eCommerce</h1>
          <div class="list-group" th:each="category : ${categorys}">
              <a th:href="${'/' + category.name}" class="list-group-item" th:text="${category.Name}"></a>
          </div>

      </div>


    </body>
</html>
