<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${user} + ' s Cart'"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

        <link href="../../static/css/spring-core.css"
              th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
              <!-- Custom styles for this template -->
        <link href="css/shop-homepage.css" rel="stylesheet">
    </head>

    <body>
        <!-- Navigation -->
        <nav th:replace="fragments/navbar :: navigation"></nav>

        <center>
            <table class="productsTable">
                <div th:if="${products.isEmpty()}"> <h4> My Cart: </h4> <h5> Cart is empty! </h5> </div>
                <div th:unless="${products.isEmpty()}">
                    <h4> My Cart: </h4>
                    <tr th:each="product : ${products}">
                        <td> <center><img id="image" th:src="${product.image}" height="50" width="50" /></center> </td>
                        <td th:text="${product.name}"></td>
                        <td></td>
                        <td th:text=" '$' + ${product.price}"></td>
                        <td>
                            <form th:action="@{|/removeFromCart/${product.id}|}" method="DELETE">
                                <input type="submit" class="btn btn-info" name="removeFromCart" value="Remove" id="removeFromCart">
                            </form>
                        </td>
                    </tr>
                </div>
            </table>

            <div th:unless="${products.isEmpty()}">
                <h6 th:text="'Total Price: $' + ${totalPrice}"></h6>
                <button class="btn btn-info"><a th:href="${'/checkout/'}" style="color:white"> Proceed to checkout </a></button>
            </div>
        </center>
        <div th:insert="fragments/footer :: footer"></div>
    </body>
</html>
