<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="Checkout"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

        <link href="../../static/css/spring-core.css"
              th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
        <!-- Custom styles for this template -->
        <link href="css/shop-homepage.css" rel="stylesheet">
    </head>

    <body>
        <!-- Navigation -->
        <nav th:replace="fragments/navbar :: navigation"></nav>

        <center>
            <table class="checkoutTable">
                <tr>
                    <td>
                        <h4>Shipping Information: </h4>
                        <label for="address1">Address 1: </label>
                        <input type="text" id="address1"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address2">Address 2: </label>
                        <input type="text" id="address2"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="city">City: </label>
                        <input type="text" id="city"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="state">State: </label>
                        <input type="text" id="state"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="zip">Zip Code: </label>
                        <input type="text" id="zip"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Payment Information: </h4>
                        <label for="name">Name on Card: </label>
                        <input type="text" id="name"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="card">Card Number: </label>
                        <input type="text" id="card"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="expiration">Expiration Date: </label>
                        <input type="text" id="expiration"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cvv">CVV: </label>
                        <input type="text" id="cvv"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!--    TODO: OnClick then create an Order record with appropriate attributes    -->
                        <!--    TODO: Go to review order page    -->
                        <!--        <button> <a th:href="${'/order/' + order.id}"> Purchase </a> </button>-->
                        <button class="btn btn-info"> Purchase </button>
                    </td>
                </tr>
            </table>
        </center>


        <div th:insert="fragments/footer :: footer"></div>
    </body>
</html>
