#page {
  height: 100vh;
  width: 100vw;
  touch-action: none;
}

.spacing {
  width: 100vw;
  height: 8vh;
}

#content {
  width: 100vw;
  height: 75vh;
}

#footer {
  width: 100vw;
  height: 5vh;
}

#image {
  min-width: 400px;
  min-height: 400px;
  width: 30vw;
  height: 30vh;
}

#icon {
    min-width: 200px;
    min-height: 200px;
    width: 20vw;
    height: 25vh;
}

#searh {
  text-align: center;
}

.createProduct {
    float: right;
}

.categoryTable {
  border: 1px solid #ddd;
  padding: 8px;
}

#addToCart {
  float: right;
}

#tableForSpacing {
  width: 100%;
}

#tableForSpacing td {
  width: 50%;
  text-align: center;
}
