<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
<head><title>New Category</title></head>

<body>
    <nav th:replace="fragments/adminNavbar :: admin-navigation"></nav>

<div class="container">

    <h2>Category Details</h2>
    <div>
        <form class="form-horizontal" th:action="@{/category/new}" th:object="${category}" method="POST">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>
            <input type="hidden" th:field="*{Id}"/>

            <div class="form-group row"th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                <label for="name" class="col-sm-2 col-form-label">Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error"/>
                </div>
                <span class="help-block">
                   <ul>
                       <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                   </ul>
                </span>
            </div>


            <div class="form-group row"th:class="${#fields.hasErrors('parent')} ? 'form-group has-error' : 'form-group'">
                <label for="parent" class="col-sm-2 col-form-label">ParentId: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{parent}" th:errorclass="has-error"/>
                </div>
                <span class="help-block">
                   <ul>
                       <li th:each="err : ${#fields.errors('parent')}" th:text="${err}" />
                   </ul>
                </span>
            </div>



            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
