<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <div class="info">
         <!-- 사용자 정보를 받아서 동적으로 태그 생성 -->
        테스트
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function(){
        getProfileInfo();
    });

    function getProfileInfo(){
        const token = $.cookie('userinfo');
        const request = {
        };
        $.ajax({
            url: "/account/profileinfo",
            contentType: "application/json",
            data: request,
            headers: {
                "Authorization": "Bearer " + token
            },
            type: 'POST',
            statusCode: {
                200: function (data) {
                    // 쿠키에 토큰 세팅

                },
                401: function (data) {

                }
            },
            error: function (xhr, ajaxSettings, thrownError) {
                //TODO 에러에 대한 분기
            }
        });
    }
</script>
</body>
</html>